

.card-item {
    /* border: solid 2px blue; */
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.image-card {
    width: 100%;
    overflow: hidden;
}

.card-description-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, #222, transparent);
    color: white;
    text-align: start;
    padding: 20px;
}
.title-card{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
.subtitle-card{

}